@import "../variable";
@import "../mixins";
@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account";

.card-footer-border {
    display: none;
}

.card-make-default-link {
    margin-top: 1rem;
}

.dashboard-cards-block-title {
    font-weight: bold;
}

.dashboard-order-card-status {
    text-transform: capitalize;
}

.dashboard-order-card-image {
    width: 7rem;
}

.account-landing-ordercard {
    padding: 0;
    height: 1rem;
    margin-left: 1.25rem;
    border-bottom: 0 none;
    margin-top: 1rem;
    h4 {
        font-size: 1.2rem;
    }
}

div.order-number {
    padding-top: 0.2rem;
}

.dashboard-cards-block-title {
    margin-bottom: 1em;
}

/* Custom Style */

#maincontent {
    padding-top: 125px;
    padding-bottom: 79px;
    @include media-breakpoint-down(sm) {
        padding-top: 45px;
        padding-bottom: 34px;
    }
    h1.page-title {
        position: static;
        background: none;
        color: $primary;
        margin-top: 0;
        margin-bottom: 90px;
        padding: 0;
        font: 64px/64px $GothicA1-Bold;
        width: 100%;
        text-align: center;
        @include media-breakpoint-down(sm) {
            font: 28px/28px $GothicA1-Bold;
            margin-bottom: 21px;
        }
    }
    .my-account {
        @include media-breakpoint-down(sm) {
            .row .offset-sm-2 {
                .card:last-of-type {
                        margin-bottom: 0;
                        border-bottom: none;
                }
            }
        }
        .card {
            margin-bottom: 30px;
            border-bottom: 1px solid $dark-500;
        }
        .card-body {
            padding: 0;
        }
        .card-header {
            padding: 0;
            margin-bottom: 30px;
            h2 {
                font: 28px/28px $GothicA1-Bold;
                color: $primary;
                @include media-breakpoint-down(sm) {
                    font: 18px/25px $GothicA1-Bold;
                }
            }
        }
        dl {
            margin-bottom: 30px;
        }
        .edit {
            font: 13px/13px $GothicA1-Medium;
            color: $dark-700 !important;
            letter-spacing: 0.02em;
            border-bottom: 1px solid $orange;
            padding-bottom: 5px;
            text-decoration: none;
        }
        dd {
            font: 16px/16px $Gothic-A1regular;
            letter-spacing: 0.02em;
        }
        .my-account-profile-heading {
            font: 16px/16px $GothicA1-Bold;
            margin-bottom: 10px;
            color: $primary;
            letter-spacing: 0.02em;
        }
        .card-link {
            font-family: $Gothic-A1regular;
        }
        .dashboard-info {
            font-family: $Gothic-A1regular;
        }
        .mb-30px {
            margin-bottom: 30px;
        }
        .w-40 {
            width: 40%;
        }
        .w-60 {
            width: 60%;
        }
    }
}