@import "../variable";
@import "../mixins";
@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account";

.card-make-default-link {
    margin-top: 1rem;
}

.dashboard-cards-block-title {
    font-weight: bold;
}

.dashboard-order-card-status {
    text-transform: capitalize;
}

.dashboard-order-card-image {
    width: 7rem;
}

.account-landing-ordercard {
    padding: 0;
    height: 1rem;
    margin-left: 1.25rem;
    border-bottom: 0 none;
    margin-top: 1rem;

    h4 {
        font-size: 1.2rem;
    }
}

div.order-number {
    padding-top: 0.2rem;
}

.dashboard-cards-block-title {
    margin-bottom: 1em;
}

/* Custom Style */

h1.page-title {
    position: static;
    background: none;
    color: #000;
    margin-bottom: 25px;
    font-family: $GothicA1-Bold;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    @include media-breakpoint-down(sm) {
        font-size: 30px;
    }
}
.my-account {
    .card-header {
        font-family: $GothicA1-Bold;
        h2 {
            font-size: 34px;
            @include media-breakpoint-down(sm) {
                font-size: 18px;
            }
        }
        letter-spacing: 0.5px;
        @include media-breakpoint-down(sm) {
            padding: 0.75rem 0;
        }
    }
    @include media-breakpoint-down(sm) {
        .card-body {
            padding: 0 0 1.25rem 0;
        }
    }
    dl {
        margin-bottom: 15px;
    }
    .edit {
        color: $grey !important;
        border-bottom: 1px solid $grey;
        padding-bottom: 1px;
        font-size: 12px;
        text-decoration: none;
        font-family: $GothicA1-Medium;
        letter-spacing: 0.5px;
    }
    dd {
        font-family: $Gothic-A1regular;
        font-size: 16px;
    }
    .my-account-profile-heading {
        font-family: $GothicA1-Bold;
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 3px;
        color: $primary;
        letter-spacing: 0.5px;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }
    .card-link {
        font-family: $Gothic-A1regular;
    }
    .dashboard-info {
        font-family: $Gothic-A1regular;
    }
}