node_modules/
storefront-reference-architecture/
plugin-applepay/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
.DS_Store
.vscode
.history
*.iml
.idea
.tern-project

*/cartridges/*/cartridge/static/*/css
*/cartridges/*/cartridge/static/*/js
*/cartridges/*/cartridge/static/*/fonts
/.metadata/
