@import "../variable";
@import "../mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.home-page-wrapper {
    @include media-breakpoint-down(md) {
        overflow: hidden;
    }
}

/* Key Features */
.key-features-wrapper__parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin-bottom: 42px;
    }
    .feature-tile-detail {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        @include media-breakpoint-up(md) {
            display: block !important;
            height: auto !important;
            visibility: visible;
        }
    }
    .experience-assets-feature {
        width: 23%;
        max-width: 23%;
        @include media-breakpoint-down(md) {
            width: 48%;
            max-width: 48%;
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
        }
        .feature-tile-top {
            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $brand-light-gray;
                margin-bottom: 8px;
                padding-bottom: 8px;
            }
            .feature-tile-icon {
                width: 52px;
                height: 45px;
                margin: 0 auto 12px;
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
            }
            .feature-tile-heading {
                font-family: $GothicA1-Bold;
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid $brand-light-gray;
                text-align: center;
                @include media-breakpoint-down(sm) {
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    border: none;
                    flex: 1;
                }
            }
            .collapsible-arrow {
                display: none;
                @include media-breakpoint-down(sm) {
                    display: block;
                    transform: rotate(180deg);
                }
            }
            &.open {
                .collapsible-arrow {
                    transform: none;
                }
            }
        }
        .feature-tile-description {
            font: rem-calc(18) / rem-calc(20) $Karla-Light;
            color: $grey;
            text-align: center;
            line-height: 140%;
            @include media-breakpoint-down(sm) {
                font: rem-calc(16) / rem-calc(21) $Karla-Light;
                text-align: left;
                padding: 24px;
            }
        }
    }
}


/*Video Banner*/
.video {
    position: relative;
    margin-bottom: 38px;
    overflow: hidden;
    top: -81px;
    @include media-breakpoint-down(md) {
        top: 0;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 8px;

    }
    .video-holder {
        position: relative;
        video {
            min-height: 550px;
            object-fit: cover;
        }
    }
    .video-content {
        position: absolute;
        bottom: 71px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 770px;
        text-align: center;
        @include media-breakpoint-down(sm) {
            padding: 0 24px;
            padding-top: 20px;
            bottom: 34px;


        }
        .video-subheading {
            font: rem-calc(20) / rem-calc(20) $Gothic-A1regular;
            font-weight: 700;
            color: $brand-dark;
            margin-bottom: 13px;
            letter-spacing: 0.5px;
            opacity: 70%;
            @include media-breakpoint-down(md) {
                font: rem-calc(16) / rem-calc(16) $Gothic-A1regular;
                font-weight: 700;
            }
        }
        .video-heading {
            font: rem-calc(105) / rem-calc(105) $Gothic-A1regular;
            vertical-align: top;
            color: $brand-dark;
            margin-bottom: 13px;
            font-weight: 700;
            letter-spacing: 5px;
            @include media-breakpoint-down(md) {
                font: rem-calc(46) / rem-calc(46) $Gothic-A1regular;
                font-weight: 700;

            }
        }
        .video-text {
            font: rem-calc(20) / rem-calc(20) $Karla-Regular;
            color: $brand-dark;
            margin-bottom: 34px;
            font-weight: 500;
            letter-spacing: 0.5px;
            opacity: 70%;
            @include media-breakpoint-down(md) {
                font: rem-calc(16) / rem-calc(16) $Karla-Regular;
                font-weight: 500;
            }
        }
        .btn-black {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}


/* Award Winning */
.award-winner-banner {
    display: flex;
    margin-bottom: 67px;
    background-color: $gray-background;
    border-radius: 8px;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        margin-bottom: 58px;
    }
    .award-banner-figure {
        width: 50%;
        max-width: 50%;
        overflow: hidden;
        .banner-image {
            // height: 100%;
            border-radius: 0 8px 8px 0;
            @include media-breakpoint-down(md) {
                border-radius: 0 0 8px 8px;
            }
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
        }
    }
    .award-banner-content {
        width: 50%;
        max-width: 50%;
        padding: 92px 82px 65px;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            padding: 38px 23px 18px;
        }
        .award-banner-heading {
            margin-bottom: 22px;
            max-width: 358px;
            @include media-breakpoint-down(md) {
                margin-bottom: 36px;
            }
        }
        .banner-awards {
            padding-top: 37px;
            margin-top: 56px;
            @include media-breakpoint-down(md) {
                padding-top: 43px;
                margin-top: 46px;
            }
            border-top: 1px solid #94949433;
            .awards-wrapper__parent {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                @include media-breakpoint-down(md) {
                    padding: 0 23px;
                    .experience-assets-award {
                        width: 50%;
                        max-width: 50%;
                    }
                }
            }
            .award-icon {
                display: inline-block;
            }
        }
    }
}

.experience-assets-storyBanner {
    overflow: hidden;
    @include media-breakpoint-down(md) {
        overflow: initial;
    }
}

/* Story Banner */
.story-banner {
    display: flex;
    // margin-bottom: 100px;
    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .story-banner-image {
        width: 46%;
        max-width: 46%;
        @include media-breakpoint-down(md) {
            width: 94%;
            max-width: 94%;
            margin-right: 24px;
            position: relative;
        }
        img {
            border-radius: 0 8px 8px 0;
        }
    }
    .story-banner-content {
        max-width: 54%;
        width: 54%;
        padding: 20px 55px;
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $white;
        &.gradient-background-class {
            background-color: $gray-background; /* For browsers that do not support gradients */
            background: linear-gradient($gray-background, $white);
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            margin-top: 0;
            padding: 38px 47px;
            &.gradient-background-class {
                background: $gray-background;
            }
        }
        .story-banner-detail {
            max-width: 503px;
            .story-banner-heading {
                margin-bottom: 22px;
            }
        }
    }
    &.image-position-right {
        position: relative;
        flex-direction: row-reverse;
        padding-top: 100px;
        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: -100px !important;
        }
        &::before {
            content: 'CF1 LINO';
            position: absolute;
            top: 0;
            right: -393px;
            font: 200px / 200px $GothicA1-Bold;
            letter-spacing: 0.05em;
            color: $brand-dark;
            opacity: 0.05;
            z-index: -1;
            @include media-breakpoint-down(md) {
                top: 60px;
                left: -40px;
                font: 100px / 100px $GothicA1-Bold;
                z-index: initial;
            }
        }
    }
    &.margin-class {
        max-width: 1240px;
        margin: 0 auto 100px;
        @include media-breakpoint-down(md) {
            margin: 0;
            max-width: none;
            align-items: flex-end;
        }
        .story-banner-image {
            width: 100%;
            max-width: 100%;
            img {
                border-radius: 8px;
            }
            @include media-breakpoint-down(md) {
                width: 88%;
                max-width: 88%;
            }
        }
        .story-banner-content {
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin-top: 0;
            background-color: $white;
            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: 100%;
                padding: 52px 47px;
                background-color: $gray-background;
            }
        }
    }
}

/* Hero Banner */
.hero-banner {
    padding: 66px 0 61px;
    display: flex;
    background-color: $gray-background; /* For browsers that do not support gradients */
    background: linear-gradient($gray-background, $white);
    position: relative;
    overflow: hidden;
    &::before {
        content: 'CF1 LINO';
        position: absolute;
        top: 43px;
        left: -150px;
        font: rem-calc(400) / rem-calc(400) $GothicA1-Bold;
        letter-spacing: 5px;
        font-weight: 700;
        color: $white;
        width: 4423px;
        @include media-breakpoint-down(sm) {
            top: 24px;
            left: -30px;
            font: rem-calc(100) / rem-calc(100) $GothicA1-Bold;
            font-weight: 700;
            bottom: 0;
        }
    }
    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 77px 0 131px;
        overflow: hidden;
    }
    .hero-banner-figure {
        width: 959px;
        max-width: 959px;
        margin-left: -328px;
        z-index: 1;
        @include media-breakpoint-down(md) {
            width: 150%;
            max-width: 150%;
            margin-left: 0;
            position: relative;
            left: -28%;
        }
    }
    .hero-banner-component {
        width: 54%;
        max-width: 54%;
        padding: 146px 50px 0;
        z-index: 1;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            padding: 24px 47px 0;
        }
        .hero-banner-detail {
            max-width: 541px;
            .banner-heading {
                margin-bottom: 22px;
            }
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }
    }
}

/* Sign Up */
.home-email-signup {
    background: linear-gradient(to right, rgb(18, 18, 18) 0%, rgb(49, 49, 48) 100%);
    .email-signup-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            padding: 40px 26px 50px;
        }
        .email-description {
            color: $white;
            font: rem-calc(24) / rem-calc(34) $Karla-Light;
            font-weight: 400;
            @include media-breakpoint-down(md) {
                font: rem-calc(20) / rem-calc(30) $Karla-Light;
                margin-bottom: 24px;
            }
        }
        form {
            width: 33.9%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        .input-group {
           position: relative;
           .signup-input {
                width: 100%;
                input {
                    height: 54px;
                    max-height: 54px;
                    width: 100%;
                    border-radius: 999px;
                    padding: 10px 163px 10px 24px;
                    background-color: $primary;
                    color: $white;
                    border: 1px solid $white;
                    font: rem-calc(18) / rem-calc(27) $Karla-Regular;
                    @include media-breakpoint-down(sm) {
                        height: 44px;
                        max-height: 44px;
                    }
                }
            }
           .signup-button {
                position: absolute;
                right: 0;
                height: 100%;
               button {
                   border: none;
                   border: 1px solid $white;
               }
           }
        }
    }

}

/* Transparent Header */
@include media-breakpoint-up(md) {
    .main-header {
        z-index: 101;
        background: transparent;
        border: none;
        position: relative;
        .header-wrapper
        .main-menu {
            .nav-item {
                a:hover {
                    background-color: transparent;
                }
            }
        }
    }
}