header ~ #maincontent .container a:not(.btn-primary, .btn-outline-primary) {
    color: $primary;
}

input {
    border-radius: 999px !important;
    border-color: $dark-600;
    font-family: $Gothic-A1regular;
}

textarea {
    font-family: $Gothic-A1regular;
}

.form-control {
    height: 54px;
    border-color: $dark-600;
    padding: 0 20px;
    @include media-breakpoint-down(md) {
        height: 44px;
    }
}

.form-group {
    margin-bottom: 26px;
}

label {
    color: $primary;
    font-family: $Gothic-A1regular;
    margin-bottom: 13px;
}

a:hover {
    text-decoration: none;
}
select {
    border-radius: 999px !important;
    font-family: $Gothic-A1regular;
    font-weight: 600;
}
.card {
    border: none;
    border-bottom: 1px solid $brand-light-gray;
}
.card-header {
    border: none;
}
.custom-checkbox .custom-control-label {
    &::before {
        background: $white !important;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        top: 0;
    }
    &::after {
        top: 2px;
        width: 20px;
    }
}

#consent-tracking {
    .modal-content {
        padding: 20px;
        .modal-header {
            font-family: $Gothic-A1regular;
        }
        .modal-body {
            font-family: $Gothic-A1regular;
            color: $secondary;
            a {
                font-family: $GothicA1-Bold;
                color: $primary;
                border-bottom: 1px solid $orange;
            }
        }
        .modal-footer {
            border-top: none;
            .button-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}