.main-header {
    background: $white;
    padding: 28px 0 18px;
    border-bottom: 1px solid $light-gray;
    @include media-breakpoint-down(md) {
        padding: 24px 0;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 120px;
            height: 21px;
        }
        .main-menu {
            background-color: $white;
            top: -3px;
            @include media-breakpoint-up(lg) {
                background-color: transparent;
            }
        }
        .mega-menu {
            &.my-account-menu {
                background-color: $gray-background;
            }
            display: flex;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                text-align: center;
            }
            .nav-item {
                padding-right: 40px;
                font: rem-calc(14) / rem-calc(14) $Gothic-A1regular;
                font-weight: 600;
                @include media-breakpoint-down(md) {
                    padding: 20px 0;
                    border-bottom: 1px solid $light-gray;
                    font: rem-calc(18) / rem-calc(20) $Gothic-A1regular;
                    & + .nav-item {
                        border-bottom: 1px solid $light-gray;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
                .nav-link {
                    color: $primary;
                    padding: 0;
                    &::after {
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .mobile-signin-wrapper {
            text-align: center;
            .user-message {
                padding: 20px 0;
                border-bottom: 1px solid $light-gray;
                font: rem-calc(18) / rem-calc(20) $Gothic-A1regular;
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            .minicart, .user  {
                margin: 0;
                line-height: 0;
                @include media-breakpoint-down(md) {
                    padding-bottom: 0;
                }
            }
            .minicart {
                margin: 3px 0 0 22px;
                @include media-breakpoint-down(md) {
                    padding-bottom: 0;
                    margin: auto 15px;
                }
                .minicart-quantity {
                    background-color: transparent;
                }
                .minicart-quantity-indicator {
                    background-color: $orange;
                    top: -3px;
                }
            }
            .navbar-toggler  {
                line-height: 0;
            }
        }
    }
    .navbar-header {
        height: auto;
    }
    .menu-toggleable-left {
        .close-menu {
            background-color: $white;
            border-bottom: 1px solid $light-gray;
            padding: 24px 0;
            svg {
                height: 24px;
                width: 24px;
            }
            .close-button {
                display: flex;
                .minicart {
                    margin: auto 15px;
                }
            }
        }
    }
    .login-phone {
        text-align: center;
        a {
            border-bottom: 1px solid $light-gray;
            font: rem-calc(18) / rem-calc(20) $Gothic-A1regular;
            padding: 20px 0;
            color: $primary;
        }
    }
    .navbar-toggleable-md {
        padding: 0 24px;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}
.navbar-header .user .popover {
    top: 25px;
    left: -22px;
    .fa-sign-in {
        color: #444;
        font-size: 14px;
    }
}

// Remove Global Header Styles 

.menu-toggleable-left.in .nav-item + .nav-item {
    border: none;
}
.menu-toggleable-left.in .dropdown-toggle.no-icon::after {
    display: none;
    content: "";
}

.menu-logo-mobile{
    position: relative;
    top: 5px;
}

.minicart {
    margin: 3px 0 0 22px;
    .minicart-quantity {
        background-color: transparent;
    }
    .minicart-quantity-indicator {
        background-color: $orange;
        top: -3px;
    }
}