.main-header {
    padding: 28px 0;
    border-bottom: 1px solid $light-gray;
    @include media-breakpoint-down(md) {
        padding: 24px 0;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .logo {
            width: 120px;
            height: 21px;
        }
        .main-menu {
            background-color: $white;
            top: -3px;
        }
        .mega-menu {
            display: flex;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                text-align: center;
            }
            .nav-item {
                padding-right: 40px;
                font: rem-calc(14) / rem-calc(14) $Gothic-A1regular;
                @include media-breakpoint-down(md) {
                    padding: 20px 0;
                    border-bottom: 1px solid $light-gray;
                    font: rem-calc(18) / rem-calc(20) $Gothic-A1regular;
                }
                &:last-child {
                    padding-right: 0;
                }
                .nav-link {
                        color: $primary;
                        padding: 0;
                }
            }
        }
        .header-right {
            display: flex;
            .minicart, .user  {
                margin: 0;
                line-height: 0;
            }
            .minicart {
                margin: 3px 0 0 22px;
                .minicart-quantity {
                    background-color: $orange;
                    top: -3px;
                }
            }
            .navbar-toggler  {
                line-height: 0;
            }
        }
    }
    .navbar-header {
        height: auto;
    }
    .menu-toggleable-left {
        .close-menu {
            background-color: $white;
            svg {
                height: 24px;
                width: 24px;
            }
        }
    }
    .login-phone {
        text-align: center;
        a {
            border-bottom: 1px solid $light-gray;
            font: rem-calc(18) / rem-calc(20) $Gothic-A1regular;
            padding: 20px 0;
            color: $primary;
        }
    }
    .navbar-toggleable-sm {
        padding: 0 24px;
    }
}



/* Key Features */

.key-features-wrapper__parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
    .experience-assets-feature {
        width: 23%;
        max-width: 23%;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
        }
        .feature-tile-top {
            @include media-breakpoint-down(md) {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $brand-light-gray;
                margin-bottom: 21px;
            }
            .feature-tile-icon {
                width: 52px;
                height: 45px;
                margin: 0 auto 24px;
                @include media-breakpoint-down(md) {
                    margin: 0;
                }
            }
            .feature-tile-heading {
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid $brand-light-gray;
                text-align: center;
                @include media-breakpoint-down(md) {
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    border: none;

                }
            }
        }
        .feature-tile-description {
            font: rem-calc(18) / rem-calc(20) $Karla-Regular;
            color: $grey;
            text-align: center;
            @include media-breakpoint-down(md) {
                font: rem-calc(15) / rem-calc(21) $Karla-Regular;
                text-align: left;
            }
        }
    }
}


/*Video Banner*/

.video {
    position: relative;
    margin-bottom: 65px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        margin-bottom: 28px;
    }
    .video-content {
        position: absolute;
        bottom: 71px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 770px;
        text-align: center;
        @include media-breakpoint-down(md) {
            bottom: 24px;
            left: 0;
            right: 0;
            max-width: none;
            transform: none;
            padding: 0 24px;
        }
        .video-subheading {
            font: rem-calc(18) / rem-calc(19) $Gothic-A1regular;
            font-weight: 700;
            color: $brand-dark;
            margin-bottom: 13px;
            @include media-breakpoint-down(md) {
                font: rem-calc(16) / rem-calc(18) $Gothic-A1regular;
                font-weight: 700;
            }
        }
        .video-heading {
            font: rem-calc(105) / rem-calc(105) $Gothic-A1regular;
            vertical-align: top;
            color: $brand-dark;
            margin-bottom: 13px;
            font-weight: 700;
            @include media-breakpoint-down(md) {
                font: rem-calc(46) / rem-calc(46) $Gothic-A1regular;
                font-weight: 700;

            }
        }
        .video-text {
            font: rem-calc(28) / rem-calc(34) $Karla-Regular;
            color: $brand-dark;
            margin-bottom: 34px;
            font-weight: 500;
            @include media-breakpoint-down(md) {
                font: rem-calc(24) / rem-calc(28) $Gothic-A1regular;
                font-weight: 500;
            }
        }
    }
}


/* Award Winning */

.award-winner-banner {
    display: flex;
    margin-bottom: 67px;
    .award-banner-figure {
        width: 50%;
        max-width: 50%;
    }
    .award-banner-content {
        background-color: $gray-background;
        width: 50%;
        max-width: 50%;
        padding: 92px 82px 75px;
        .banner-detail {
            max-width: 5;
        }
    }
    .award-icon {
        display: inline-block;
    }
}