@import "../variable";
@import "../mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.pdp-header-menu-wrapper {
    position: sticky;
    top: 0;
    border-bottom: 1px solid $light-gray;
    z-index: 3;
    background-color: $white;
    .pdp-header-menu {
        display: flex;
        justify-content: flex-end;
        padding: 16px 15px 16px 15px;
        @include media-breakpoint-down(sm) {
            justify-content: space-between;
        }
        .pdp-item {
            margin-right: 40px;
            @include media-breakpoint-down(sm) {
                margin-right: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font: rem-calc(14) / rem-calc(14) $Karla-Regular;
                color: $primary;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.pdp-main-wrapper {
    display: flex;
    margin-bottom: 134px;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin-bottom: 220px;
    }
    .pdp-main-left {
        width: 60%;
        max-width: 60%;
        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 28px;
        }
    }
    .pdp-main-right {
        width: 40%;
        max-width: 40%;
        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            padding: 0 23px;
        }
    }
}
.pdp-main-right {
    padding: 51px 0 0 54px;
    .pdp-main-right-content {
        max-width: 430px;
        margin-right: auto;
        .product-id {
            font: rem-calc(16) / rem-calc(22) $Karla-Regular;
            color: $secondary;
            margin-bottom: 8px;
            display: inline-block;
        }
        .product-name {
            font: rem-calc(32) / rem-calc(32) $Gothic-A1regular;
            margin-bottom: 30px;
            font-weight: 700;
            @include media-breakpoint-down(sm) {
                font: rem-calc(23) / rem-calc(24) $Gothic-A1regular;
                font-weight: 700;
            }
        }
        .pdp-content-price {
            padding: 0;
            margin-bottom: 68px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 115px;
            }
            .price {
                text-align: left;
                font: rem-calc(16) / rem-calc(19) $Gothic-A1regular;
                font-weight: 800;
                .strike-through {
                    color: $secondary;
                }
                .sales {
                    margin-right: 5px;
                }
            }
        }
        .prices-add-to-cart-actions {
            padding: 0;
            margin-bottom: 48px;
            position: static;
            box-shadow: none;
            .pdd-quantity-addToCart {
                display: flex;
                justify-content: space-between;
                .simple-quantity {
                    margin: 0 16px 0 0;
                    width: 110px;
                    max-width: 110px;
                    .quantity-wrapper {
                        display: flex;
                        justify-content: space-between;
                        height: 54px;
                        border: 1px solid $light-gray;
                        border-radius: 999px;
                        padding: 0 10px;
                        .decrease-quantity, .increase-quantity,.quantity-field {
                            background: none;
                            border: none;
                            outline: none;
                        }
                        .quantity-field {
                            width: 30px;
                            text-align: center;
                        }
                    }
                }
                .cart-and-ipay {
                    flex: 1;
                    padding-bottom: 0;
                }
            }
        }
        .description-pdp-detail {
            margin-bottom: 96px;
            .pdp-product-descreption {
                font: rem-calc(20) / rem-calc(30) $Karla-Regular;
                font-weight: 300;
                color: $grey;
                margin-bottom: 35px;
            }
            .pdp-key-points{
                margin:0 0 36px 20px;
                padding-left: 10px;
                li {
                    font: rem-calc(20) / rem-calc(30) $Karla-Regular;
                    font-weight: 500;
                    color: $grey;
                    list-style-type: disc;
                    margin-bottom: 5px;
                }
            }
            .pdp-learn-more {
                font: rem-calc(14) / rem-calc(14) $Gothic-A1regular;
                color: #444;
                padding-bottom: 6px;
                border-bottom: 1px solid $orange;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .pdp-collapsible {
            .accordion {
                font: rem-calc(18) / rem-calc(19) $Gothic-A1regular;
                color: $brand-dark;
                padding: 20px 0;
                background: none;
                border: none;
                width: 100%;
                text-align: left;
                border-top: 1px solid $light-gray;
                position: relative;
                font-weight: 900;
                &:focus {
                    outline: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    background:  url(../../images/Vector.png) no-repeat;
                    transform: rotate(180deg);
                    width: 9px;
                    height: 10px;
                    right: 0;
                }
                &.active {
                    &::after {
                        transform: none;
                    }
                }
            }
            .panel {
                font: rem-calc(16) / rem-calc(22) $Karla-Regular;
                padding: 40px 0;
                border-top: 1px solid $light-gray;
                display: none;
            }
        }
    }
}
.pdp-main-left {
    .carousel-inner {
        .carousel-item {
            position: relative;
            max-height: 655px;
            height: 655px;
            @media (min-width:768px) and (max-width:1260px) {
                max-height: 400px;
                height: 400px;
            }
            @include media-breakpoint-down(sm) {
                max-height: 315px;
                height: 315px;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .pdp-zoom-icon {
        position: absolute;
        right: 33px;
        bottom: 45px;
        @include media-breakpoint-down(sm) {
            right: 22px;
            bottom: 22px;
        }
    }
    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        border-radius: 50%;
        overflow: hidden;
        background-color: $white;
        width: 60px;
        height: 60px;
        @include media-breakpoint-down(sm) {
            width: 40px;
            height: 40px;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .carousel-control-prev {
        left: 20px;
        opacity: 1;
    }
    .carousel-control-next {
        right: 20px;
        opacity: 1;

    }
    .carousel-indicators {
        position: static;
        margin: 0;
        margin-right: -16px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        li {
            width: 158px;
            margin: 0 16px 0 0;
            opacity: 1;
        }
    }
    
}


/* product-specification */

.product-specification-wapper {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}
.product-specification {
    max-width: 1095px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .specification-detail {
        width: 33%;
        max-width: 33%;
        text-align: center;
        border-right: 1px solid $light-gray;
        padding: 40px 0;
        @include media-breakpoint-down(sm) {
            border-right: none;
            padding-bottom: 29px;
        }
        &:last-of-type {
            border: none;
        }
        h3 {
            margin-bottom: 8px;
            @include media-breakpoint-down(sm) {
                font: rem-calc(22) / rem-calc(26) $Gothic-A1black;
                font-weight: 900;
            }
        }
        p {
            font: rem-calc(16) / rem-calc(22) $Karla-Regular;
            @include media-breakpoint-down(sm) {
                max-width: 82px;
                margin: 0 auto;
            }
        }
    }
}

/* Video Banner */
.video-banner {
    .video-holder {
        position: relative;
        video {
            min-height: 450px;
            object-fit: cover;
        }
    }
}


/* product Stories */

.product-stories-section {
    .pdp-story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }
    }
    .story-left {
        width: 47%;
        max-width: 47%;
        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
        }
    }
    .story-right {
        width: 49%;
        max-width: 49%;
        padding-right: 100px;
        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            padding-right: 0;
        }
    }
    .story-banner-detail {
        p {
            font: rem-calc(20) / rem-calc(30) $Karla-Regular;
            font-weight: 300;
            color: $grey;
        }
        h3 {
            max-width: 520px;
            margin-bottom: 28px;
            text-transform: capitalize;
        }
    }
    .story-1 {
        background: linear-gradient(175deg, rgb(253, 253, 250) 0%, rgb(229, 229, 227) 100%);
        align-items: stretch;
        padding-top: 55px;
        @include media-breakpoint-down(sm) {
            padding-top: 0;
            background: $gray-background;
            // margin: 26px 0 0 23px;
        }
        .story-1-banner-content {
            padding-top: 60px;
            @include media-breakpoint-down(sm) {
                padding: 38px 0 60px 23px;
            }
            .story-banner-description {
                max-width: 355px;
                @include media-breakpoint-down(sm) {
                    max-width: none;
                }
            }
        }
        .story-1-image {
            z-index: 1;
            margin-left: -24px;
        }
    }
    .story-2 {
        position: relative;
        background: white;
        margin-top: -200px;
        padding-top: 60px;
        margin-bottom: 59px;
        align-items: flex-start;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            margin-top: 0;
        }
        .story-2-banner-content {
            padding: 214px 0 0 100px;
            @include media-breakpoint-down(sm) {
                padding: 0 47px;
                // margin: 0 47px;
            }
        }
        .story-2-banner-overlay-content {
            position: absolute;
            bottom: 85px;
            left: 48%;
            max-width: 325px;
            background-color: $white;
            transform: translate(-50%);
            padding: 30px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            border-right: 2px solid $orange;
            z-index: 1;
            @include media-breakpoint-down(sm) {
                padding: 24px;
                bottom: -55px;
                left: 50%;
                min-width: 295px;
            }
            p {
                font: rem-calc(16) / rem-calc(24) $Karla-Regular;
                font-weight: 300;
                color: $grey;
            }
        }
        .story-2-image {
            z-index: 1;
            @include media-breakpoint-down(sm) {
                width: 90%;
                max-width: 90%;
                margin: 0 auto;
            }
        }
        .story-banner-detail-2 {
            max-width: 520px;
            margin-left: auto;
            @include media-breakpoint-down(sm) {
                max-width: none;
                margin-left: 0;
                padding-bottom: 40px;
            }
        }
    }
    .story-3 {
        background: rgb(250, 250, 247);
        align-items: center;
        position: relative;
        .story-banner-detail {
            padding: 70px 47px 50px;
        }
        .story-banner-heading {
            max-width: 485px;
            @include media-breakpoint-down(sm) {
                max-width: none;
            }
        }
        .story-banner-description {
            max-width: 520px;
            @include media-breakpoint-down(sm) {
                max-width: none;
            }
        }
           &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background: rgb(250, 250, 247);
            height: 163px;
            bottom: -162px;
            @include media-breakpoint-down(sm) {
               display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background: rgb(250, 250, 247);
            height: 219px;
            top: -218px;
        }
        .story-3-image {
            @include media-breakpoint-down(sm) {
                margin-right: 47px;
            }
        }
    }
    .story-4 {
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        .story-4-banner-content {
            padding-left: 100px;
            @include media-breakpoint-down(sm) {
                padding-left: 0;
            }
        }
        .story-banner-detail {
            max-width: 541px;
            margin-left: auto;
            @include media-breakpoint-down(sm) {
                max-width: none;
                margin: 0;
                padding: 60px 47px;
            }
        }
        .story-banner-heading {
            max-width: 358px;
            @include media-breakpoint-down(sm) {
                max-width: none;
            }
        }
        .story-4-image {
            z-index: 1;
            @include media-breakpoint-down(sm) {
                width: 90%;
            }
           
        }
    }
    .story-5 {
        .story-banner-description {
            max-width: 520px;
            margin-right: auto;
            @include media-breakpoint-down(sm) {
                max-width: none;
                margin: 0;
            }
        }
        .story-banner-detail  {
            @include media-breakpoint-down(sm) {
               padding: 80px 47px 40px;
            }
        }
        .story-5-image {
            margin-right: 44px;
        }
    }
}


/* Frame Geometry */

.geometry {
    background:  url(../../images/frame-geometry-image.png) no-repeat;
    background-size: cover;
    padding: 224px 0 63px;
    margin-top: -50px;
    position: relative;
    overflow: hidden;
    &::before {
        content: 'GEOMETRY • GE';
        position: absolute;
        top: 490px;
        left: -114px;
        font: rem-calc(200) / rem-calc(200) $Gothic-A1regular;
        letter-spacing: 5px;
        font-weight: 700;
        color: $brand-light-gray;
        width: 3590px;
        z-index: -1;
        @include media-breakpoint-down(sm) {
            left: -195px;
            font: rem-calc(100) / rem-calc(100) $Gothic-A1regular;
            font-weight: 700;
            bottom: 0;

        }
    }
    @include media-breakpoint-down(sm) {
        padding: 184px 0 50px;
    }
    .geometry-content {
        h3 {
            margin-bottom: 56px;
            text-align: center;
            @include media-breakpoint-down(sm) {
                margin-bottom: 56px;
            }
        }
        .geo-metary-image {
            max-width: 662px;
            margin: 0 auto;
        }
        .frame-geometary-tab {
            max-width: 262px;
            margin: 0 auto;
            display: flex;
            margin-bottom: 72px;
            position: relative;
            left: -45px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 48px;
            }
            .frame-geometry-btn {
                min-width: 157px;
                position: relative;
                background-color: $white;
                color: $brand-dark;
                border-color: $brand-dark;
                &:first-of-type {
                    right: -45px;
                }
                &.active {
                    background-color: $brand-dark;
                    color: $white;
                    z-index: 1;
                }
                @include media-breakpoint-down(sm) {
                    min-width: 154px;
                }
            }
        }
        .geo-metary-table {
            background: $white;
            max-width: 1240px;
            margin: 0 auto;
            border: 1px solid #E1E1E1;
            @include media-breakpoint-down(sm) {
                margin: 0 24px;
            }
            span {
                display: block;
                text-transform: uppercase;
            }
            .geo-metary-table-holder {
                display: flex;
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
                .geo-metary-table-data {
                    border-right: 1px solid #e1e1e1;
                    width: 50%;
                    max-width: 50%;
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        max-width: 100%;
                    }
                    &:last-of-type {
                        border-right: none;
                    }
                    .geo-metary-table-tile {
                        display: flex;
                        border-top: 1px solid #E1E1E1;
                        ;
                        .geo-metary-table-count {
                            width: 37px;
                            background-color: $gray-background;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-right: 1px solid #e1e1e1;
                            text-align: center;
                            &.bg-white {
                                background-color: $white;
                            }
                        } 
                        .geometry-table-heading {
                            font: rem-calc(18) / rem-calc(21) $Gothic-A1regular;
                            font-weight: 700;
                            padding: 27px 20px;
                            flex: 1;
                            min-height: 77px;
                            @include media-breakpoint-down(sm) {
                                font: rem-calc(16) / rem-calc(19) $Gothic-A1regular;
                            }
                        }
                        .geometry-table-info {
                            font: rem-calc(16) / rem-calc(19) $Gothic-A1regular;
                            width: 170px;
                            min-height: 77px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 0 20px;
                            border-left: 1px solid #e1e1e1;
                            color: $grey;
                            @include media-breakpoint-down(sm) {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* PDP Collapsible */

.product-bottom-accordian {
    h3 {
        padding: 48px 5px;
        border-bottom: 1px solid $light-gray;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 28px 30px 24px 0;
            &.asked-question-heading {
                border-top: 1px solid $light-gray;
            }
        }
        &::after {
            content: "";
            position: absolute;
            background:  url(../../images/close-collapse.svg) no-repeat;
            width: 25px;
            height: 25px;
            right: 0;
            background-position: center;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active {
            &::after {
                background:  url(../../images/open-collapse.svg) no-repeat;
                width: 25px;
                height: 6px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .under-hood-heading, .asked-question-heading, .assembly-guide-heading {
        cursor: pointer;
    }
}

/* What Under Hood */

.what-under-hood {
    span {
        display: block;
    }
    .under-hood-top {
        display: flex;
        border-bottom: 1px solid $light-gray;
        span {
            font: rem-calc(32) / rem-calc(60) $Gothic-A1regular;
            font-weight: 600;
            padding: 9px 40px;
            padding-right: 40px;
            border-right: 1px solid $light-gray;
            color: $brand-dark;
            opacity: 0.4;
            @include media-breakpoint-down(sm) {
                font: rem-calc(20) / rem-calc(38) $Gothic-A1regular;
                padding: 9px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &.key-specification {
                opacity: 1;
                padding-left: 0;
            }
            &.electronics {
                border-right: none;
            }
        }
    }
    .under-hood-specification{

        .specification-wrapper {
            display: flex;
            padding: 24px 0;
            border-bottom: 1px solid $light-gray;
            @include media-breakpoint-down(sm) {
                padding: 17px 0;
                flex-direction: column;
            }
            .heading {
                width: 33%;
                max-width: 33%;
                font: rem-calc(18) / rem-calc(21) $Gothic-A1regular;
                font-weight: 700;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    max-width: 100%;
                    padding-bottom: 10px;
                }
            }
            .detail {
                width: 66%;
                max-width: 66%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    max-width: 100%;
                }
                font: rem-calc(16) / rem-calc(19) $Gothic-A1regular;
                font-weight: 400;
                color: $grey;
            }
        }
        .additional-info {
            padding: 55px 0 0;
            @include media-breakpoint-down(sm) {
                padding: 36px 0;
            }
            .additional-info-wrapper {
                display: flex;
                margin-bottom: 19px;
                align-items: flex-start;
                &:last-child {
                    margin-bottom: 0;
                }
                .number {
                    min-width: 30px;
                    min-height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                    color: $white;
                    background-color: $primary;
                    font: rem-calc(16) / rem-calc(23) $Karla-Regular;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .additional-info-detail {
                    font: rem-calc(14) / rem-calc(14) $Karla-Regular;
                    padding-top: 5px;
                    color: $grey;
                    padding-right: 172px;
                    @include media-breakpoint-down(sm) {
                        padding-right: 0;
                    }
                }
            }
        }
    }

}

  /* Answer Question */

.frequenttly-asked-questions {
    .asked-question-content {
        padding: 48px 0;
        border-bottom: 1px solid #E1E1E1;
        .question-answer {
            margin-bottom: 30px;
            .question {
                font: rem-calc(32) / rem-calc(32) $Gothic-A1regular;
                font-weight: 700;
                margin-bottom: 14px;
                @include media-breakpoint-down(sm) {
                    font: rem-calc(20) / rem-calc(24) $Gothic-A1regular;
                    font-weight: 700;
                }
            }
            .answer {
                font: rem-calc(16) / rem-calc(25) $Karla-Regular;
                font-weight: 500;
                color: $brand-dark;
                .answer-link {
                    text-decoration: underline;
                    color: $primary;
                }
            }
        }
    }
}
/* PDP Zoom */
.products-zoom-model {
    width: 100%;
    .modal-dialog {
        max-width: none;
        margin: 0;
        .zoom-close-btn {
            float: right;
            margin: 16px;
            background: none;
            border: none;
            font-size: 18px;
        }
        .modal-body {
            padding: 0;
            img {
                margin-bottom: 20px;
            }
        }
    }
}

.pdp-zoom-icon-btn {
    background: none;
    border: none;
}
