h6 {
    font-family: $Gothic-A1regular;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    color: $primary;
    font-weight: bolder;
}

img {
    width: 100%;
    height: auto;
}
.container {
    padding: 0;
    @include media-breakpoint-down(md) {
        padding: 0 24px;
    }
}