h3 {
    font: rem-calc(48) / rem-calc(57) $GothicA1-Bold;
    color: $primary;
    font-weight: 900;
    @include media-breakpoint-down(md) {
        font: rem-calc(32) / rem-calc(38) $GothicA1-Bold;
        font-weight: 900;
    }
}
h5 {
    font-family: $Gothic-A1regular;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    color: $primary;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#consent-tracking {
    .btn-primary, .btn-outline-secondary {
        width: auto;
    }
}
.btn-primary {
    max-height: 54px;
    font: rem-calc(14) / rem-calc(54) $GothicA1-Medium;
    padding: 0 60px;
    border-radius: 999px;
    width: 100%;
    letter-spacing: 0.02em;
    &:focus {
        box-shadow: none !important;
    }
    &:disabled {
        opacity: 0.15;
    }
    @include media-breakpoint-down(sm) {
        max-height: 44px;
        font: rem-calc(14) / rem-calc(44) $GothicA1-Medium;
    }
}
a.btn-primary {
    padding: 0 60px;
    @include media-breakpoint-down(sm) {
        padding: 0 30px;
    }
}
.btn-outline-secondary {
    max-height: 54px;
    font: rem-calc(14) / rem-calc(54) $GothicA1-Medium;
    color: $primary;
    padding: 0 30px;
    border-radius: 999px;
    border-color: $brand-light-gray;
    font-weight: 700;
    width: 100%;
    letter-spacing: 0.02em;
    &:focus {
        box-shadow: none !important;
    }
    &:disabled {
        opacity: 0.15;
    }
    @include media-breakpoint-down(sm) {
        max-height: 44px;
        font: rem-calc(14) / rem-calc(44) $GothicA1-Medium;
    }
}
.btn-black {
    max-height: 54px;
    display: inline-block;
    font: rem-calc(14) / rem-calc(54) $GothicA1-Medium;
    padding: 0 40px;
    background-color: $primary;
    color: $white !important;
    border-radius: 999px;
    letter-spacing: 0.02em;
    &:hover {
        outline: none;
        color: $white;
    }
    @include media-breakpoint-down(sm) {
        max-height: 44px;
        font: rem-calc(14) / rem-calc(44) $GothicA1-Medium;
    }
}
.btn-white {
    max-height: 54px;
    font: rem-calc(14) / rem-calc(54) $GothicA1-Medium;
    padding: 0 30px;
    border-radius: 999px;
    font-weight: 700;
    width: 100%;
    background-color: $white;
    color: $primary;
    letter-spacing: 0.02em;
    &:hover {
        outline: none;
        color: $primary;
    }
    @include media-breakpoint-down(sm) {
        max-height: 44px;
        font: rem-calc(14) / rem-calc(44) $GothicA1-Medium;
    }
}
.home-text {
    font: rem-calc(20) / rem-calc(30) $Karla-Light;
    font-weight: 300;
    color: $grey;
    margin-bottom: 38px;
    @include media-breakpoint-down(md) {
        margin-bottom: 36px;
        font-weight: 300;
    }
}

img {
    width: 100%;
    height: auto;
}
.container {
    padding: 0;
    @include media-breakpoint-down(md) {
        padding: 0 20px;
    }
}