// BESV variables
$base-font-size: 16;

$primary: rgb(28,28,28);
$secondary: #949494;
$white: #fff !default;
$medium-gray: #949494;
$orange: #EA5514;
$light-gray: #ddd;
$brand-light-gray: #F0F0F0;
$grey: #777;
$brand-dark: #333;
$gray-background: #F7F7F7;


$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1260px
) !default;

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1240px,
);

// Fonts variables
$Gothic-A1black: "gothic_a1black";
$GothicA1-ExtraBold: "GothicA1-ExtraBold";
$GothicA1-Bold: "GothicA1-Bold";
$GothicA1-Medium: "GothicA1-Medium";
$Gothic-A1regular: "gothic_a1regular";
$Karla-Bold: "Karla-Bold";
$Karla-Medium: "Karla-Medium";
$Karla-Regular: "Karla-Regular";
$Karla-Light: "Karla-Light";