@import "../scss/variable";
@import "../scss/mixins";
@import "../scss/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
.besv-content-wrapper {
    .short-container {
        max-width: 500px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin: 0 20px;
        }

        div {
            margin-bottom: 35px;
        }
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin: 0 20px;
        }

        div {
            margin-bottom: 35px;
        }
    }
    h1 {
        font: rem-calc(48) / rem-calc(57) $GothicA1-Bold;
        color: $primary;
        font-weight: 900;
        text-align: center;
        padding-top: 35px;
        margin-bottom: 35px;
        letter-spacing: 1px;
        @include media-breakpoint-down(sm) {
            font: rem-calc(32) / rem-calc(38) $GothicA1-Bold;
            font-weight: 900;
        }
    }
    h2 {
        font: rem-calc(22) / rem-calc(30) $GothicA1-Bold;
        color: $primary;
        font-weight: 900;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        @include media-breakpoint-down(md) {
            font: rem-calc(18) / rem-calc(28) $GothicA1-Bold;
            font-weight: 900;
        }
    }
    p {
        font: rem-calc(14) / rem-calc(17) $Karla-Light;
        color: $secondary;
        margin-bottom: 20px;
    }
   a {
        font: rem-calc(14) / rem-calc(17) $GothicA1-Bold;
       text-decoration: none;
       border-bottom: 1px solid $orange;
       color: $primary;
       font-weight: 900;
   }
    p {
        span {
            font-weight: 900;
            color: $primary;
            line-height: 19px;
        }
    }
    span {
        font-weight: 900;
        color: $secondary;
        font: rem-calc(14) / rem-calc(17) $Karla-Regular;

    }
    .gray-background {
        background-color: $gray-background;
    }
    ul {
        list-style: disc;
        margin-bottom: 20px;
        li {
            font: rem-calc(14) / rem-calc(17) $Karla-Light;
            color: $secondary;
            margin-left: 30px;
        }
        &.disc {
            list-style: disc;
        }
        &.alpha {
            list-style: lower-alpha;
        }
    }
    .faq-top {
        border-bottom: 1px solid $light-gray;
        text-align: center;
        .orange {
            font-size: 16px;
            font-family: $Gothic-A1black;
            line-height: 35px;
        }
    }
    .orange {
        color: $orange;
    }
    h3 {
        font: rem-calc(28) / rem-calc(36) $GothicA1-Bold;
        color: $primary;
        font-weight: 900;
        margin-bottom: 10px;
        @include media-breakpoint-down(md) {
            font: rem-calc(22) / rem-calc(30) $GothicA1-Bold;
            font-weight: 900;
        }
    }
    .background-1 {
        position: relative;
        z-index: 1;
        &::before {
            content: '1';
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: rem-calc(200) / rem-calc(200) $Gothic-A1regular;
            letter-spacing: 5px;
            font-weight: 700;
            color: $white;
            z-index: -1;
        }
    }
    .background-2 {
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        &::before {
            content: '2';
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: rem-calc(200) / rem-calc(200) $Gothic-A1regular;
            letter-spacing: 5px;
            font-weight: 700;
            color: $white;
            z-index: -1;
        }
    }
}
html {
    scroll-behavior: smooth;
}

strong {
    font-weight: 900;
    color: $primary;
}