@import "../scss/variable";
@import "../scss/mixins";
@import "../scss/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.besv-content-wrapper {
    padding: 120px 0 35px 0;
    @include media-breakpoint-down(md) {
        padding-top: 50px;
    }
    .short-container {
        max-width: 826px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin: 0 20px;
        }
        div {
            margin-bottom: 50px;
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .shipping-content {
        .shipping-content-top {
            margin-top: -120px;
            padding-top: 120px;
            padding-bottom: 106px;
            @include media-breakpoint-down(md) {
                margin-top: -50px;
                padding-top: 50px;
            }
            h1 {
                padding-top: 0;
            }
        }
        .shipping-bottom {
            padding-top: 90px;
            @include media-breakpoint-down(md) {
                padding-top: 45px;
            }
            .shipping-bottom-link {
                a {
                    text-decoration: none;
                    font: 16px / 25px $GothicA1-Bold;
                    letter-spacing: 0.02em;
                    color: $dark-700;
                    @include media-breakpoint-down(md) {
                        font: 14px / 24px $GothicA1-Bold;
                    }
                }
                span {
                    font: 16px / 25px $Gothic-A1regular;
                    @include media-breakpoint-down(md) {
                        font: 14px / 24px $Gothic-A1regular;
                    }
                }
            }
        }
    }
    .container {
        max-width: 826px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
        div {
            margin-bottom: 50px;
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    h1 {
        font: 64px / 64px $GothicA1-Bold;
        color: $primary;
        text-align: center;
        margin-bottom: 50px;
        @include media-breakpoint-down(sm) {
            font: 28px / 28px $GothicA1-Bold;
            margin-bottom: 40px;
        }
    }
    h2 {
        font: 24px / 34px $GothicA1-Bold;
        color: $primary;
        margin-bottom: 26px;
        @include media-breakpoint-down(md) {
            font: 18px / 25px $GothicA1-Bold;
        }
    }
    p {
        font: 16px / 25px $Karla-Light;
        color: $dark-700;
        letter-spacing: 0.02em;
        margin-bottom: 26px;
        @include media-breakpoint-down(md) {
            font: 14px / 24px $Karla-Light;
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
    a {
        font: 16px / 25px $Gothic-A1regular;
        text-decoration: underline;
        color: $primary;
        letter-spacing: 0.02em;
        @include media-breakpoint-down(md) {
            font: 14px / 24px $Gothic-A1regular;
        }
    }
    .gray-background {
        background-color: $dark-400;
    }
    ul {
        list-style: disc;
        margin-bottom: 26px;
        li {
            font: 16px / 25px $Karla-Light;
            // color: $secondary;
            margin-left: 14px;
            @include media-breakpoint-down(md) {
                font: 14px / 24px $Karla-Light;
            }
        }
        &.disc {
            list-style: disc;
        }
    }
    .faq-top {
        text-align: center;
        .orange {
            display: block;
            text-decoration: none;
            font: 18px / 25px $GothicA1-Bold;
            letter-spacing: 0;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .orange {
        color: $orange;
    }
    h3 {
        font: rem-calc(28) / rem-calc(36) $GothicA1-Bold;
        color: $primary;
        font-weight: 900;
        margin-bottom: 10px;
        @include media-breakpoint-down(md) {
            font: rem-calc(22) / rem-calc(30) $GothicA1-Bold;
            font-weight: 900;
        }
    }
    h3.orange {
        font: 44px / 55px $GothicA1-Bold;
        margin-bottom: 26px;
        @include media-breakpoint-down(md) {
            font: 28px / 28px $GothicA1-Bold;
        }
    }
    .background-1 {
        position: relative;
        z-index: 1;
        &::before {
            content: '1';
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: rem-calc(250) / rem-calc(250) $Gothic-A1regular;
            letter-spacing: 5px;
            font-weight: 700;
            color: $white;
            z-index: -1;
        }
    }
    .background-2 {
        position: relative;
        z-index: 1;
        &::before {
            content: '2';
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: rem-calc(250) / rem-calc(250) $Gothic-A1regular;
            letter-spacing: 5px;
            font-weight: 700;
            color: $white;
            z-index: -1;
        }
    }
}
html {
    scroll-behavior: smooth;
}

strong {
    font-weight: 900;
    color: $primary;
}