@import "./variable";
@import "./mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/deleteCardButton";
@import "components/quickView";


.cart-head {
    padding: 29px 0;
    border-bottom: 1px solid $dark-500;
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 120px;
            height: 21px;
        }
        .navbar-header {
            height: auto;
            .continue-shopping-link {
                font: 12px/14px $Karla-Regular;
                color: $dark-700;
            }
        }
    }
}

#maincontent {
    padding-top: 120px;
    padding-bottom: 155px;
    @include media-breakpoint-down(sm) {
        padding-top: 58px;
        padding-bottom: 34px;
    }
    #cart-title {
        position: static;
        background: none;
        color: $primary;
        margin-top: 0;
        margin-bottom: 25px;
        font: 44px/55px $GothicA1-Bold;
        padding: 0;
        @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
            font: 28px/28px $GothicA1-Bold;
        }
    }
    .cart-page {
        .product-card {
            @include media-breakpoint-down(sm) {
                margin-bottom: 20px;
            }
            .product-info  {
                border: none;
                margin-bottom: 20px;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 10px;
                }
                .cart-product-wrapper {
                    padding: 20px;
                    background-color: $dark-400;
                    border-radius: 8px;
                    @include media-breakpoint-down(sm) {
                        padding: 10px 0;
                    }
                    .cart-product-inner {
                        display: flex;
                        justify-content: space-between;
                        @include media-breakpoint-down(sm) {
                            justify-content: inherit;
                        }
                        .cart-product-holder {
                            display: flex;
                            .item-image {
                                margin-right: 33px;
                                width: 210px;
                                height: auto;
                                @include media-breakpoint-down(sm) {
                                    max-width: 100px;
                                    margin-left: 15px;
                                    margin-right: 26px;
                                    padding: 13px 0;
                                }
                                .product-image {
                                    max-height: none;
                                    @include media-breakpoint-down(sm) {
                                        margin-bottom: 22px;
                                    }
                                }
                            }
                            .item-details {
                                display: flex;
                                flex-direction: column;
                                padding: 6.5px 0;
                                @include media-breakpoint-down(sm){
                                    justify-content: initial;
                                    max-width: 124px;
                                    margin-right: 26px;
                                }
                                .line-item-name {
                                    white-space: initial;
                                    color: $primary;
                                    font: 18px/25px $GothicA1-Bold;
                                    margin-bottom: 18px;
                                    @include media-breakpoint-down(sm) {
                                        font: 14px/25px $GothicA1-Bold;
                                        margin-bottom: 10px;
                                    }
                                }
                                .item-attributes {
                                    color: $dark-700;
                                    flex-grow: 1;
                                    justify-content: space-between;
                                    .line-item-attributes {
                                        font: 14px/24px $Karla-Regular;
                                        letter-spacing: 0.02em;
                                        margin-bottom: 18px;
                                        @include media-breakpoint-down(sm) {
                                            font: 12px/22px $Karla-Regular;
                                            margin-bottom: 10px;
                                        }
                                    }
                                    .edit-remove-wrapper {
                                        font: 14px/13px $GothicA1-Bold;
                                        text-transform: capitalize;
                                        letter-spacing: 0.02em;
                                        .product-edit {
                                            border-bottom: 1px solid $orange;
                                            padding-bottom: 5px;
                                            margin-right: 25px;
                                            a {
                                                color: $dark-700;
                                            }
                                        }
                                        .remove-product {
                                            padding: 0;
                                            border: none;
                                            background: none;
                                            border-bottom: 1px solid $dark-700;
                                            padding-bottom: 5px;
                                            color: $dark-700;
                                        }
                                    }
                                }
                            }
                            .line-item-total-price {
                                .price {
                                    @include media-breakpoint-down(sm) {
                                        text-align: center;
                                        font: 13px/16.25px $GothicA1-Bold;
                                        letter-spacing: 0.02em;
                                        color: $primary;
                                    }
                                }
                            }
                        }
                        .product-card-footer {
                            padding: 13px 0;
                            display: flex;
                            text-align: center;
                            flex-direction: column;
                            @include media-breakpoint-down(sm) {
                                padding: 8px 0;
                                max-width: 44px;
                            }
                            .line-item-quantity {
                                margin-bottom: 30px;
                                @include media-breakpoint-down(sm) {
                                    margin-bottom: 0;
                                    height: 100%;
                                }
                                .quantity-form {
                                    @include media-breakpoint-down(sm) {
                                        height: 100%;
                                    }
                                    .quantity-wrapper {
                                        display: flex;
                                        justify-content: space-between;
                                        border: 1px solid $dark-500;
                                        border-radius: 999px;
                                        padding: 20px 30px;
                                        background-color: $white;
                                        @include media-breakpoint-down(md) {
                                            flex-direction: column-reverse;
                                            padding: 10px 0;
                                            align-items: center;
                                            height: 100%;
                                        }
                                        .decrease-quantity, .increase-quantity,.quantity-field {
                                            background: none;
                                            border: none;
                                            outline: none;
                                        }
                                        .quantity-field {
                                            width: 50px;
                                            text-align: center;
                                            font-family: $GothicA1-Bold;
                                        }
                                    }
                                }
                            }
                            .line-item-total-price {
                                flex-grow: 1;
                                justify-content: end;
                                .price {
                                    .line-item-total-price-amount {
                                        font: 18px/25px $GothicA1-Bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .totals {
            .coupon-code-holder {
                margin-bottom: 46px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 2px;
                }
                .form-group {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 30px;
                    }
                    .cart-coupon-wrapper {
                        position: relative;
                        .promo-code-field {
                            margin-bottom: 10px;
                            .coupon-code-field {
                                height: 54px;
                                max-height: 54px;
                                width: 100%;
                                border-radius: 999px;
                                padding-left: 23px;
                                border: 1px solid $dark-600;
                                font: 14px/14px $Gothic-A1regular;
                                letter-spacing: 0.02em;
                                @include media-breakpoint-down(sm) {
                                    height: 44px;
                                    max-height: 44px;
                                }
                            }
                        }
                        .promo-code-submit {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 38%;
                            .promo-code-btn {
                                padding: 0 30px;
                            }
                        }
                    }
                }
            }
            .checkout-summary-text {
                margin-bottom: 20px;
                font-weight: 600;
                font: 16px/20px $Gothic-A1regular;
                letter-spacing: 0.02em;
                &.checkout-summary-total {
                    padding: 30px 0 16px;
                    margin-bottom: 30px;
                    border-top: 1px solid $dark-500;
                    border-bottom: 1px solid $dark-500;
                    font: 16px/20px $GothicA1-Bold;
                    letter-spacing: 0.02em;
                }
                .text-right {
                    font: 16px/20px $GothicA1-Bold;
                    letter-spacing: 0.02em;
                }
            }
            .cart-total-amount {
                padding-top: 15px;
            }
        }
    }
}
.cart-header {
    margin-bottom: 16px;
    font-family: $GothicA1-Medium;
    color: $cart-light-gray;
}
.checkout-summary-total {
    .excluding-tax {
        font-family: $Gothic-A1regular;
        font-size: 12px;
        line-height: 14px;
        color: $dark-700;
    }
}
.cart-product-mobile {
    display: flex;
    margin-right: 30px;
    .line-item-total-price {
        margin-right: 36px;
    }
}
.cart-empty {
    font: rem-calc(22) / rem-calc(28) $Gothic-A1black;

}
.optional-promo {
    margin-bottom: 10px;
}
.remove-mobile {
    margin-top: -3px;
}

#editProductModal {
    .modal-dialog {
        max-width: 978px;
        @include media-breakpoint-down(sm) {
            max-width: 350px;
            margin: auto;
        }
        .modal-content {
            border-radius: 8px;
            padding: 30px;
            border: none;
            @include media-breakpoint-down(sm) {
                padding: 40px 20px 30px 20px;
            }
            .modal-header {
                position: absolute;
                top: 0;
                right: 0;
                background: transparent;
                border-bottom: none;
                .close {
                    font-size: 24px;
                    line-height: 10px;
                    color: $primary;
                    opacity: 1;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .modal-body {
                font: 16px/25px $Karla-Light;
                color: $primary;
                padding: 0;
                max-height: none;
                overflow-y: initial;
                .product-quickview-carousel {
                    padding-left: 0;
                    padding-right: 15px;
                    max-width: 582px;
                    @include media-breakpoint-down(sm) {
                        padding: 0;
                        max-width: 100%;
                        margin-bottom: 30px;
                    }
                    .carousel-inner {
                        border-radius: 8px;
                    }
                    .pdp-main-left  {
                        .carousel-control-next, .carousel-control-prev {
                            width: 54px;
                            height: 54px;
                            @include media-breakpoint-down(sm) {
                                width: 28px;
                                height: 28px;
                                svg {
                                    width: 9px;
                                }
                            }
                        }
                        .carousel-control-prev {
                            left: 8px;
                        }
                        .carousel-control-next {
                            right: 8px;
                        }
                    }
                    .pdp-zoom-icon {
                        display: none;
                    }
                }
                .product-details {
                    padding: 11.5px 0 11.5px 15px;
                    display: flex;
                    flex-direction: column;
                    @include media-breakpoint-down(sm) {
                        padding: 0;
                    }
                    .product-name-wrapper {
                        padding-bottom: 26px;
                        border-bottom: 1px solid $dark-500;
                        @include media-breakpoint-down(sm) {
                            padding-bottom: 20px;
                        }
                        .product-name {
                            font: 24px/34px $GothicA1-Bold;
                            @include media-breakpoint-down(sm) {
                                font: 18px/25px $GothicA1-Bold;
                            }
                        }
                    }
                    .item-attributes {
                        color: $dark-700;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        .detail-panel {
                            .attributes {
                                border-bottom: 1px solid $dark-500;
                                .attribute {
                                    display: flex;
                                    font: 16px/25px $Karla-Light;
                                    margin: 26px 0;
                                    @include media-breakpoint-down(sm) {
                                        font: 14px/24px $Karla-Light;
                                        margin: 20px 0;
                                    }
                                    .labels {
                                        display: flex;
                                        align-items: center;
                                        .non-input-label {
                                            display: inline;
                                            margin-bottom: 0;
                                            margin-right: 5px;
                                        }
                                    }
                                    .color-swatch {
                                        flex-grow: 1;
                                        display: flex;
                                        justify-content: space-evenly;
                                        .color-attribute {
                                            width: 32px;
                                            height: 32px;
                                            border-radius: 100px;
                                            background: none;
                                            float: right;
                                            padding: 0;
                                            border: none;
                                            .swatch-circle {
                                                width: 32px;
                                                height: 32px;
                                                background-size: cover;
                                                border-radius: 1.25em;
                                                display: inline-block;
                                                position: relative;
                                                border: none;
                                                &.selected {
                                                    border: 4px solid $white;
                                                    outline: 2px solid $primary;
                                                    &::after {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .quantity-holder {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 26px 0;
                            @include media-breakpoint-down(sm) {
                                margin: 20px 0;
                            }
                            .quantity-heading {
                                font: 16px/25px $Karla-Light;
                                @include media-breakpoint-down(sm) {
                                    font: 14px/24px $Karla-Light;
                                }
                            }
                            .quantity-wrapper {
                                display: flex;
                                justify-content: space-between;
                                border: 1px solid $dark-500;
                                border-radius: 999px;
                                padding: 20px 30px;
                                background-color: $white;
                                .decrease-quantity, .increase-quantity,.quantity-field {
                                    background: none;
                                    border: none;
                                    outline: none;
                                }
                                .quantity-field {
                                    width: 50px;
                                    text-align: center;
                                    font-family: $GothicA1-Bold;
                                }
                            }
                        }
                        .prices {
                            padding: 0;
                            text-align: left;
                            margin-bottom: 26px;
                            flex-grow: 1;
                            font: 24px/34px $GothicA1-Bold;
                            @include media-breakpoint-down(sm) {
                                margin-bottom: 20px;
                            }
                            .price {
                                color: $primary;
                                .sales {
                                    @include media-breakpoint-down(sm) {
                                        font: 18px/25px $GothicA1-Bold;
                                    }
                                }
                                .strike-through {
                                    display: none;
                                }
                            }
                        }
                        .cart-and-ipay {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .modal-footer {
                display: none;
            }
        }
    }
    .availability-holder {
        padding-bottom: 7px;
        margin-bottom: 15px;
        justify-content: end;
        color: $secondary;
        .availability-msg {
            margin-right: 35px;
            @include media-breakpoint-down(md) {
                margin-right: 22px;
             }
        }
    }
    .carousel-indicators {
        position: absolute;
        bottom: 15px;
        @include media-breakpoint-down(md) {
            display: flex;
        }
        li {
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            border: 1px solid $light-gray;
            background-color: $white;
            margin-right: 6px;
            &.active {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}

#removeProductModal {
    .modal-dialog {
        width: 612px;
        max-width: 612px;
        // max-height: 320px;
        @include media-breakpoint-down(sm) {
            width: 350px;
            max-width: 350px;
            // max-height: 415px;
            margin: 0 auto;
        }
        .modal-content {
            padding: 30px;
            border-radius: 8px;
            @include media-breakpoint-down(sm) {
                padding: 20px;
            }
            .modal-header {
                padding: 0 0 26px 0;
                font: 24px/34px $GothicA1-Bold;
                color: $primary;
                border-bottom: 1px solid $dark-500;
                @include media-breakpoint-down(sm) {
                    font: 18px/25px $GothicA1-Bold;
                }
            }
            .modal-body {
                padding: 26px 0 0 0;
                font: 16px/25px $Karla-Light;
                letter-spacing: 0.02em;
                color: $dark-700;
                margin-bottom: 26px;
                a {
                    font: 14px/13px $GothicA1-Bold;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $orange;
                    margin-bottom: 5px;
                }
            }
            .modal-footer {
                border-top: none;
                padding: 0;
                width: 100%;
                display: flex;
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
                button {
                    width: 260px;
                    margin: 0 26px 0 0;
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        margin: 0 0 20px 0;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}