@import "./variable";
@import "./mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/deleteCardButton";
@import "components/quickView";

.cart-head {
    padding: 28px 0 18px;
    border-bottom: 1px solid $light-gray;
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 120px;
            height: 21px;
        }
        .navbar-header {
            height: auto;
            .continue-shopping-link {
                font-family: $Gothic-A1regular;
                color: $orange;
            }
        }
    }
}
#cart-title {
    position: static;
    background: none;
    color: $primary;
    margin-bottom: 25px;
    font-family: $Gothic-A1black;
    @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
    }
}
.cart-page {
    padding-left: 15px;
    .coupon-code-holder {
        @include media-breakpoint-down(md) {
            margin-bottom: 2px;
        }
        margin-bottom: 50px;
        .cart-coupon-wrapper {
            position: relative;
            .promo-code-field {
                margin-bottom: 10px;
                .coupon-code-field {
                    height: 54px;
                    max-height: 54px;
                    width: 100%;
                    border-radius: 999px;
                    padding: 10px 163px 10px 15px;
                    border: 1px solid $light-gray;
                    font: 1.125rem/1.6875rem "Karla-Regular";
                }
            }
            .promo-code-submit {
                position: absolute;
                right: 0;
                top: 0;
                width: 38%;
            }
        }
    }
    .cart-total-amount {
        padding-top: 15px;
    }
    .item-image {
        width: 120px;
        @include media-breakpoint-down(md) {
            width: 90px;
        }

    }
    .item-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .product-edit {
            border-bottom: 1px solid $secondary;
            a {
                color: $secondary !important;
            }
        }
        .line-item-name {
            font-family: $Gothic-A1black;
        }
    }
}
.quantity-wrapper {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border: 1px solid $light-gray;
    border-radius: 999px;
    padding: 0 10px;
    background-color: $white;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
        height: 125px;

    }
    .decrease-quantity, .increase-quantity,.quantity-field {
        background: none;
        border: none;
        outline: none;
    }
    .quantity-field {
        width: 30px;
        text-align: center;
    }
}
.cart-product-wrapper {
    padding: 18px;
    background-color: $gray-background;
    border-radius: 8px;
    .cart-product-inner {
        display: flex;
        justify-content: space-between;
    }
    .line-item-total-price-amount {
        font-family: $Gothic-A1regular;
    }
    .edit-remove-wrapper {
        font-family: $Gothic-A1regular;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
    }
}
.product-card-footer {
    width: 18%;
    max-width: 18%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
.cart-product-holder {
    width: 70%;
    max-width: 70%;
    display: flex;
    @include media-breakpoint-down(md) {
        width: 80%;
        max-width: 80%;
    }
    .line-item-name {
        white-space: initial;
    }
}
.checkout-summary-text {
    margin-bottom: 20px;
    font-weight: 600;
    &.checkout-summary-total {
        padding: 15px 0;
        border-top: 1px solid $light-gray;
        font-family: $Gothic-A1black !important;
        font-weight: 900;
        font-size: 20px;
    }
    p {
        font-family: $Gothic-A1regular;
    }
}
.cart-product-mobile {
    display: flex;
    margin-right: 30px;
    .line-item-total-price {
        margin-right: 36px;
    }
}
.product-info  {
    border: none;
    margin-bottom: 25px;
}
.cart-empty {
    font: rem-calc(22) / rem-calc(28) $Gothic-A1black;

}
.optional-promo {
    margin-bottom: 10px;
}
.remove-product {
    padding: 0;
    border: none;
    background: none;
    border-bottom: 1px solid $secondary;
    color: $secondary;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 15px;
    font-family: $Gothic-A1regular;
    @include media-breakpoint-down(md) {
        margin-top: -4px;
    }

}
.product-edit {
    font-family: $Gothic-A1regular;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px solid $secondary;
    color: $secondary;
    a {
        color: $secondary !important;
    }
}
.remove-mobile {
    margin-top: -3px;
}
#removeProductModal {
    .modal-content {
        padding: 20px;
       .modal-body , .modal-header, .modal-footer {
           padding-left: 0;
           padding-right: 0;
       }
       .modal-footer {
           border-top: none;
       }
    }
    margin: 20px;
    .modal-title {
        font-family: $Karla-Regular;
        letter-spacing: 1px;
        font-size: 18px;
    }
    .modal-body {
        font-family: $Karla-Regular;
        color: $secondary;
        font-size: 16px;
    }
    .product-delete {
        font: rem-calc(14) / rem-calc(14) $Gothic-A1regular;
        padding: 20px 30px;
        border-radius: 999px;
        font-weight: 700;
        max-height: 54px;
        width: 100%;
        border: 1px solid $primary;
        color: $primary;
        background-color: $white;
        &:focus {
            box-shadow: none !important;
            color: $white;
            background-color: $primary;
        }
        &:hover {
            color: $white !important;
            background-color: $primary;
        }
    }
}
#editProductModal {
    .modal-header {
        background: $white;
        border-bottom: none;
        padding: 10px 30px 10px 10px;
        button:focus {
            outline: none;
        }
    }
    .product-name-wrapper {
        padding-bottom: 15px;
        border-bottom: 1px solid $light-gray;
        .product-name {
            font-family: $Gothic-A1black;
            @include media-breakpoint-down(md) {
               font-size: 18px;
            }
        }
      
    }
    .global-availability {
        font-family: $Gothic-A1regular;
    }
    .availability-holder {
        padding-bottom: 7px;
        border-bottom: 1px solid $light-gray;
        margin-bottom: 15px;
    }
    .quantity-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .quantity-wrapper {
            min-width: 31%;
            @include media-breakpoint-down(md) {
                flex-direction: row;
                height: 54px;
            }
        }
        .quantity-heading {
            font-family: $Gothic-A1regular;
        }
    } 
    .price {
        font-family: $Gothic-A1regular;
        margin-bottom: 10px;
    }
    .pdp-main-left  {
        .carousel-control-next, .carousel-control-prev {
            width: 40px;
            height: 40px;
        }
    }
    .carousel-indicators {
        position: absolute;
        bottom: 15px;
        @include media-breakpoint-down(md) {
            display: block;
        }
        li {
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            border: 1px solid $light-gray;
            background-color: $white;
            margin-right: 6px;
            &.active {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .primary-images {
            margin-bottom: 30px;
        }
    }
}