@import "base/contactUs";
@import "variable";

.contact-us-banner {
    background-image: url('../images/contact-us-banner.jpg');
    @include media-breakpoint-down(sm) {
        background-image: url('../images/contact-us-banner-mobile.jpg');
    }
}

/* Custom style */
.subscribe-contact-us {
    width: auto;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
#contact-comment {
    border-radius: 8px;
    resize: none;
    height: 230px;
}
.hero.contact-us-banner {
    height: 529px;
    position: relative;
    @include media-breakpoint-down(md) {
        height: 560px;
    }
    h1.page-title {
        background: none;
        color: #000;
        margin-bottom: 25px;
        font-family: "gothic_a1black";
        text-align: center;
        font-size: 28px;
        line-height: 42px;
        left: auto;
        right: 60px;
        position: absolute;
        transform: translateY(-50%);
        margin: 0;
        max-width: 315px;
        @include media-breakpoint-down(md) {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
        &::before {
            position: static;
        }
        span {
            font-size: 52px;
            line-height: 72px;
            padding: 0 5px;
        }
    }
    &::after {
        position: static;
        display: none;
    }
}

.contact-us-landing-page {
    margin-top: 71px;
    margin-bottom: 38px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
        margin-bottom: -2px;
    }
}

.contact-us-submit {
    .contact-us-submit-wrapper {
        .submit-note {
            font-family: $Karla-Light;
            font-size: 14px;
            line-height: 24px;
            color: $dark-700;
            padding: 0 122px;
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }
    }
}