@import "./variable";
@import "./mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "components/formFields";

.login-page {
    margin-top: 96px;
    padding-bottom: 48px;
    border-bottom: 1px solid $brand-light-gray;
    @include media-breakpoint-down(sm) {
        margin-top: 32px;
    }
    .login-form-nav {
        margin-bottom: 1.25em;

        .tab-pane {
            margin-top: 1em;
        }
    }

    .login {
        margin-bottom: 0.938em;

        .error-message-form {
            padding: 0.625em;
            background-color: $danger;
            color: $state-danger-text;
            border-radius: 0.188em;
        }
    }
}

.registration-page {
    .privacy-policy {
        margin-top: 1rem;
    }
}

.login-banner {
    background-image: url('../images/account.jpg');
    background-position-y: 40%;
}

.equal-height .card {
    width: 100%;
}

.track-order-header {
    font-size: 1.75rem;
}

.request-password-title {
    font-size: 1.5rem;
}

//Custom Style

.login-form-nav {
    .nav-tabs {
        border-bottom: none;
    }
    font-family: $Gothic-A1black;
    .nav-link{
        opacity: .4;
        &.active {
            border-bottom: 2px solid $orange;
            opacity: 1;
        }
    }
    .custom-checkbox .custom-control-label::before {
        border: 1px solid #ced4da;
    }
    .privacy-policy {
        font-family: $Gothic-A1regular;
    }
    #password-reset {
        font-family: $Gothic-A1regular;
        text-decoration: underline;
    }
    .submit {
        border-bottom: 15px;
    }
}

.trackorder {
    background-color: $gray-background;
    padding: 30px;
    border-radius: 8px;
    opacity: .4;
    @include media-breakpoint-down(sm) {
        padding: 30px 0;
    }
    .track-order-header {
        font-family: $Gothic-A1black;
        text-align: center;
        background: none;
        color: $secondary;
    }
    .submit.brt-primary {
        background: white;
        color: $primary;
    }
    .track-order-header-text {
        font-family: $Gothic-A1regular;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 20px;
        color: $secondary;
    }
}
.card {
    border-bottom: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.create-account-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 10px;
    .create-account-newsletter {
        width: 50%;
        max-width: 50%;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    .create-account-submit {
        width: 50%;
        max-width: 50%;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
        }
    }
}
.create-account-privacy {
    color: $secondary;
    a {
        color: $secondary !important;
        border-bottom: 1px solid $secondary;
        padding-bottom: 1px;
    }
}
#requestPasswordResetModal {
    .modal-content {
        width: 538px;
        padding: 10px;
        border-radius: 8px;
    }
    .modal-header {
        border-bottom: none;
        h2 {
            font-family: $Gothic-A1black;
        }
    }
    .request-password-body {
        color: $secondary;
        font-family: $Karla-Regular;
        .form-control-label {
            color: $primary;
            padding-top: 10px;
        }
    }
}

h1.page-title {
    position: static;
    background: none;
    color: #000;
    margin-bottom: 25px;
    font-family: "gothic_a1black";
    width: 100%;
    text-align: center;
    &::before {
        width: 0 !important;
    }
}

.subscription-back-btn-link {
    color: #{var(--skin-primary-color-1)};
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}