@import "./variable";
@import "./mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "components/formFields";

.login-page {
    padding-top: 128px;
    padding-bottom: 40px;
    @include media-breakpoint-down(sm) {
        padding-top: 50px;
        padding-bottom: 72px;
    }
    .card {
        border-bottom: none;
        margin-bottom: 40px;
        font-size: 14px;
        .card-body {
            padding: 0;
        }
    }
    .login-form-nav {
        .nav-tabs {
            border-bottom: none;
            margin-bottom: 46px;
            .nav-item {
                width: 50%;
                .nav-link {
                    padding: 0;
                    padding-bottom: 20px;
                    font: 28px/28px $GothicA1-Medium;
                    color: $dark-500 !important;
                    &.active {
                        border-bottom: 2px solid $orange;
                        color: $primary !important;
                    }
                    @include media-breakpoint-down(sm) {
                        font: 18px/25px $GothicA1-Medium;
                    }
                }
            }
        }
        .tab-content {
            .tab-pane#login {
                .btn-primary {
                    width: 294px;
                    padding: 0;
                    margin: 0 auto;
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
        .custom-checkbox .custom-control-label::before {
            border: 1px solid #ced4da;
            margin-right: 10px;
        }
        .privacy-policy {
            font: 14px/24px $Karla-Light;
            color: $dark-700;
        }
        .login {
            .custom-control-label {
                font: 14px/20px $Gothic-A1regular;
                letter-spacing: 0.02em;
                color: $dark-700;
            }
            #password-reset {
                font: 14px/14px $Gothic-A1regular;
                letter-spacing: 0.02em;
                color: $dark-700 !important;
                text-decoration: underline;
            }
            .error-message-form {
                padding: 0.625em;
                background-color: $danger;
                color: $state-danger-text;
                border-radius: 0.188em;
            }
        }
        .create-account-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 26px;
            align-items: center;
            padding-top: 10px;
            @include media-breakpoint-down(sm) {
                display: block;
            }
            .create-account-newsletter {
                margin-bottom: 0;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 26px;
                }
                .custom-control-label {
                    color: $dark-700;
                }
            }
            .create-account-submit {
                width: 240px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .trackorder {
        background-color: $dark-400;
        padding: 20px 30px;
        border-radius: 8px;
        @include media-breakpoint-down(sm) {
            padding: 20px;
        }
        .card-body {
            .form-group:last-of-type {
                margin-bottom: 0;
            }
        }
        .track-order-header {
            padding: 0;
            margin-bottom: 26px;
            font-family: $GothicA1-Medium;
            text-align: center;
            background: none;
            color: $primary;
        }
        .track-order-header-text {
            font: 14px/14px $Karla-Light;
            color: $dark-700;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 26px;
        }
        .btn-primary {
            width: 294px;
            padding: 0;
            margin: 0 auto;
            background-color: $dark-600;
            border: none;
            @include media-breakpoint-down(sm) {
                width: 100%;
                padding: 0;
            }
        }
    }
}
.registration-page {
    .privacy-policy {
        margin-top: 1rem;
    }
}
.login-banner {
    background-image: url('../images/account.jpg');
    background-position-y: 40%;
}
.equal-height .card {
    width: 100%;
}
.track-order-header {
    font-size: 1.75rem;
}
.request-password-title {
    font-size: 1.5rem;
}
#requestPasswordResetModal {
    .modal-content {
        width: 538px;
        padding: 10px;
        border-radius: 8px;
    }
    .modal-header {
        border-bottom: none;
        h2 {
            font-family: $Gothic-A1black;
        }
    }
    .request-password-body {
        color: $secondary;
        font-family: $Karla-Regular;
        .form-control-label {
            color: $primary;
            padding-top: 10px;
        }
    }
}
h1.page-title {
    position: static;
    background: none;
    color: #000;
    margin-bottom: 25px;
    font-family: "gothic_a1black";
    width: 100%;
    text-align: center;
    &::before {
        width: 0 !important;
    }
}
.subscription-back-btn-link {
    color: #{var(--skin-primary-color-1)};
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}