@import "../variable";
@import "../mixins";
@import "../variables";
@import "bootstrap/scss/variables";
@import "checkoutComponents";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";
@import "../components/creditCardField";

$checkout-font-weight: 600;

.card.ghost {
    opacity: 0.5;
}

.need-help {
    margin-bottom: 16px;
    font-family: $GothicA1-Medium;
    color: $cart-light-gray;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.customer-information-block  {
    .js-cancel-login {
        font: 0.875rem/0.875rem "GothicA1-Medium";
        padding: 20px 30px;
        border-radius: 999px;
        font-weight: 700;
        max-height: 54px;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .btn-link {
        color: #{var(--skin-link-color-2)};
        padding: 0;
        vertical-align: baseline;
    }
}

.edit-button,
.btn-show-details,
.btn-add-new {
    color: #{var(--skin-primary-color-1)};
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.edit-button {
    border: none;
    padding: 0;
    background: none;
}

.error-message {
    display: none;
}

.next-step-button {
    position: fixed;
    bottom: 0;
    z-index: 3;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(xs) {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

        div {
            padding: $spacer;
        }
    }

    @include media-breakpoint-up(sm) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.shipping-methods {
    font-size: 1.125em;
    font-weight: $checkout-font-weight;
}

.shipping-method-option {
    font-size: 0.938em;
}

.shipping-method-pricing {
    font-weight: bolder;
}

.multi-ship .multi-shipping {
    display: block;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Customer ------------------------------
    &[data-checkout-stage=customer] {
        .card.ghost.customer {
            display: none;
        }

        .card.customer-summary {
            display: none;
        }

        .card.shipping-section {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-customer {
            display: block;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .card.customer-section {
            display: none;
        }

        button.submit-customer {
            display: none;
        }

        .card.ghost.customer {
            display: none;
        }

        .card.ghost {
            display: none;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        .shipment-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        button.submit-customer {
            display: none;
        }

        .customer-section,
        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        .address-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        button.submit-customer,
        .customer-section,
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        button.submit-customer,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-left: 31px;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

/* Custom Style */
.checkout-header {
    padding: 15px 0;
      border-bottom: 1px solid $light-gray;
    .header-wrapper {
        .logo {
            width: 120px;
            height: 21px;
        }
        .navbar-header {
            height: auto;
        }
    }
}
h1.page-title {
    position: static;
    background: none;
    color: $primary;
    margin-bottom: 25px;
    font-family: $GothicA1-Bold;
    @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
    }
}
.page {
    background-color: $white;
}
.card-header-custom {
    font-family: $Gothic-A1regular;
    color: $primary;
}
.order-summary-card {
    border: none;
    .order-total-summary {
        border: none;
        .checkout-summary-detail {
            margin-bottom: 15px;
            font-weight: 600;
            .start-lines::before {
                content: "";
            }
            span {
                font-family: $Gothic-A1regular;
            }
            .attribute {
                font-size: 12px;
                line-height: 15px;
                color: $cart-light-gray;
                margin-top: 0;
                margin-bottom: 14px;
            }
            &.grand-total {
                border-top: 1px solid $brand-light-gray;
                padding-top: 15px;
                font-size: 22px !important;
                font-family: $Gothic-A1black;
            }
        }
    }
}
.leading-lines .start-lines::before {
    content: '';
}
.continue-to-shipping {
    position: relative;
    .form-group {
        margin-bottom: 10px;
        .email{
            height: 54px;
            max-height: 54px;
            width: 100%;
            border-radius: 999px;
            padding: 10px 260px 10px 15px;
            border: 1px solid $light-gray;
            font: 1.125rem/1.6875rem "Karla-Regular";
            @include media-breakpoint-down(md) { 
                padding-right: 10px;
                margin-bottom: 15px;
            }
        }
    }
    .submit-customer {
        position: absolute;
        right: 0;
        top: 0;
        width: 38%;
        @include media-breakpoint-down(md) { 
            position: static;
            width: 100%;
            margin-bottom: 15px;
        }

    }
}
.card-header {
    font: rem-calc(16) / rem-calc(18) $Gothic-A1black;
    font-weight: 900;
    span {
        border-radius: 50% !important;
        padding: 6px;
        background: $primary;
        color: $white;
        font-size: 12px;
        color: #fff;
        display: inline-flex;
        font-size: 14px;
        align-items: center;
        font-weight: 900;
        margin-right: 10px;
    }

}
.checkout-right-side {
    border-right: 1px solid $brand-light-gray;
    @include media-breakpoint-down(md) {
        border-right: none;
    }

}
.or-sign-up {
    font-family: $Karla-Regular;
    color: #cccccc;
    button {
        color: $primary !important;
    }
}
.customer-summary, .shipping-summary, .payment-summary {
    .edit-button {
        color: $secondary;
        border-bottom: 1px solid $secondary;
        padding-bottom: 4px;
        font-family: $Gothic-A1regular;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
}
.payment-summary {
    .card-body {
        font-family: $Gothic-A1regular;
    }
}
.customer-summary-email {
    font-family: $Gothic-A1regular;
}
.example {
    font-family: $Gothic-A1regular;
    padding-top: 5px;
    display: inline-block;
}
.single-shipping {
    font-family: $Gothic-A1regular;
}
.thankyou-header {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 90px;
    .order-thank-you-msg {
        font: rem-calc(42) / rem-calc(50) $GothicA1-Bold;
        color: $primary;
        font-weight: 900;
        margin-bottom: 15px;
        @include media-breakpoint-down(md) {
            font: rem-calc(22) / rem-calc(32) $GothicA1-Bold;
            font-weight: 900;
        }
    }
}
.order-thank-you-email-msg {
    font-family: $Gothic-A1regular;
}
.order-confirm-create-account {
    background-color: $cart-gray-background;
    border-radius: 8px;
    .card-header {
        background: none;
    }
}
.order-email {
    font-family: $GothicA1-Bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
}

.confirm-details {
    border-bottom: none;
    .order-number-label, .order-date-label, .shipping-addr-label, .shipping-method-label, .billing-addr-label, .payment-info-label{
        font-family: $GothicA1-Bold;
        display: inline-block;
        margin-right: 5px;
    }
    .summary-details {
        font-family: $Gothic-A1regular;
    }
    .single-shipping {
        padding-top: 15px;
    }
}

.order-product-summary {
    border: none;
    .product-line-item {
        border: 1px solid #DDDDDC;
        border-radius: 8px;
        .product-wrapper {
            padding: 20px 40px;
            .line-item-header {
                font-family: $GothicA1-Medium;
                .line-item-name {
                    margin-bottom: 1rem;
                }
            }
            .line-item-attributes {
                font-family: $Gothic-A1regular;
                color: #767676;
            }
        }
    }
}
.checkout-order-total-summary {
    border: none;
    font-family: $Gothic-A1regular;
    .order-total-summary {
        h3 {
            font-size: 16px;
        }
        .checkout-summary-detail {
            span {
                font-size: 14px;
            }
            .attribute {
                margin-top: 0;
                font-size: 12px;
                color: $cart-light-gray;
                span {
                    margin-right: 10px;
                }
            }
        }
        .grand-total {
            font-size: 16px;
            font-family: $GothicA1-Bold;
        }
        .end-lines {
            font-family: $GothicA1-Medium;
        }
    }
}
.grand-total-label, .grand-total-price {
    font-family: $Gothic-A1regular;
}

.payment-privacy {
    padding-top: 15px;
    padding-left: 10px;
    color: $secondary;

    .custom-control-label {
        font-weight: normal;
        font-family: $Gothic-A1regular;
        font-size: 14px;
        padding-left: 10px;
        &::before {
            background: $white !important;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            margin-right: 5px;
            top: 0;
        }
        &::after {
            top: 2px;
            width: 20px;
        }
        a {
            border-bottom: 1px solid $secondary;
            color: $secondary !important;
        }
    }
    .custom-control-input:checked ~ .custom-control-label::after {
        background-image: $svg-check;
    }
}

.payment-options {
    li {
        display: none;
    }
}
.nav-tabs .nav-link.active {
    border-bottom: 0.188em solid $orange;
}

.btn-show-details, .btn-add-new {
    color: $secondary;
    font-family: $Gothic-A1regular;
    &:hover {
        color: $orange;
    }
}

.info-icon {
    span.icon {
        background-color: $orange;
    }
}